<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
    <title>BIANCA | Red Ribbon - Every Moment Sweeter</title>
</head>

<body>
    <a href="#shome" id="back2top"><img src="../../images/arrow.png"></a>
    <div id="wnavbar">
        <a id="link1" href="../index.html"><img src="../../images/bcm-logo.png"></a>
        <a class="links" id="link2" href="../index.html#labout">ABOUT</a>
        <a class="links" id="link3" href="../works.html">WORKS</a>
        <a class="links" id="link4" href="../index.html#lcontact">CONTACT</a>
    </div>
    <div class="icontent">
        <div class="imain">
            <div class="imain_inner">
                <img src="../../images/works/rr-ems0.jpg">
                <img src="../../images/works/rr-ems1.jpg">
                <img src="../../images/works/rr-ems2.jpg">
                <img src="../../images/works/rr-ems3.jpg">
                <img src="../../images/works/rr-ems4.jpg">
                <img src="../../images/works/rr-ems5.jpg">
                <img src="../../images/works/rr-ems6.jpg">
                <img src="../../images/works/rr-ems7.jpg">
                <img src="../../images/works/rr-ems8.jpg">
                <img src="../../images/works/rr-ems9.jpg">
                <img src="../../images/works/rr-ems10.jpg">
                <img src="../../images/works/rr-ems11.jpg">
                <img src="../../images/works/rr-ems12.jpg">
            </div>
        </div>
        <div class="iside">
            <div class="iside_inner">
                <h1>Red Ribbon - Every Moment Sweeter</h1>
                <h2>Digital Illustration • eLearning Development</h2>
                <br><br>
                <p>A Rocket Concepts project with Red Ribbon, a food company in the Philippines.
                    A gamified computer-based training for their employees, complete with voice
                    overs, background music and animations. Project preview does not include
                    the training itself as it is confidential. Only some pages of the storyboard are shown.
                </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <br>
        <p>© 2020 BIANCA MATIRA | ALL RIGHTS RESERVED.</p>
    </div>
</body>

</html>