<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
    <title>BIANCA | University of Santo Tomas (UST) Photowalk</title>
</head>

<body>
    <a href="#shome" id="back2top"><img src="../../images/arrow.png"></a>
    <div id="wnavbar">
        <a id="link1" href="../index.html"><img src="../../images/bcm-logo.png"></a>
        <a class="links" id="link2" href="../index.html#labout">ABOUT</a>
        <a class="links" id="link3" href="../works.html">WORKS</a>
        <a class="links" id="link4" href="../index.html#lcontact">CONTACT</a>
    </div>
    <div class="icontent">
        <div class="imain">
            <div class="imain_inner">
                <img src="../../images/works/ustphotowalk1.jpeg">
                <img src="../../images/works/ustphotowalk2.jpeg">
                <img src="../../images/works/ustphotowalk3.jpeg">
                <img src="../../images/works/ustphotowalk4.jpeg">
                <img src="../../images/works/ustphotowalk5.jpeg">
                <img src="../../images/works/ustphotowalk6.jpeg">
                <img src="../../images/works/ustphotowalk7.jpeg">
                <img src="../../images/works/ustphotowalk8.jpeg">
                <img src="../../images/works/ustphotowalk9.jpeg">
            </div>
        </div>
        <div class="iside">
            <div class="iside_inner">
                <h1>University of Santo Tomas (UST) Photowalk</h1>
                <h2>Photography</h2>
                <br><br>
                <p>A school project for the Digital Photography course in iAcademy
                    in the Philippines. The series features the Pontifical and Royal
                    <b><i>University of Santo Tomas</i></b> (est. 1611), and 
                    <b><i>Jennelyn Castillejo</i></b>, project partner. The series
                    showcases different rules of compositions in photography.
                </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <br>
        <p>© 2020 BIANCA MATIRA | ALL RIGHTS RESERVED.</p>
    </div>
</body>

</html>