<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
    <title>BIANCA | VanillaJS</title>
</head>

<body>
    <a href="#shome" id="back2top"><img src="../../images/arrow.png"></a>
    <div id="wnavbar">
        <a id="link1" href="../index.html"><img src="../../images/bcm-logo.png"></a>
        <a class="links" id="link2" href="../index.html#labout">ABOUT</a>
        <a class="links" id="link3" href="../works.html">WORKS</a>
        <a class="links" id="link4" href="../index.html#lcontact">CONTACT</a>
    </div>
    <div class="icontent">
        <div class="imain">
            <div class="imain_inner">
                <img src="../../images/vanillajs2.jpeg">
                <img src="../../images/vanillajs.png">
            </div>
        </div>
        <div class="iside">
            <div class="iside_inner">
                <h1>Vanilla JS</h1>
                <h2>By: Bianca</h2>
                <br><br>
                <p>I’m sure I should not be the one to talk, because honestly, I am really new to Javascript. All I know before all this is
                that it makes up the holy trinity of web development, along with HTML and CSS, of course. While HTML structures the
                content, and CSS is for the styling and design, Javascript takes care of the functionality of the website, makes
                anything on it come to life.<br><br>
                Good news for me is that Javascript uses a C style syntax language, something I’m familiar with because of Java. And
                that helped me quickly understand Vanilla Javascript.<br><br>
                According to <a href="https://stackoverflow.com/questions/20435653/what-is-vanillajs">koenpeters from StackOverflow</a>:
                “VanillaJS is a name to refer to <b>plain JavaScript without any additional libraries like jQuery</b>. People use it as a
                joke to remind other developers that many things can be done nowadays without the need for additional JavaScript
                libraries.”<br><br>
                <i>It is said that developers before tended to bypass plain Javascript in order for their code to run smoothly and
                consistently across different browsers. But times have changed, and so has ECMAScript spec. It has evolved so much that
                developers need not rely on external libraries and frameworks anymore.</i><br><br>
                Now, I’m not saying that using these external frameworks and libraries is bad. Or that developers need to stay away from
                these things. Because these are, in fact, tools necessary to develop advanced web applications. They provide developers
                with stable code structures and wide range of cool features. One does not need to bother about cross-browser issues,
                security flaws in code, and core functions, etc. because the framework already takes care of all that.<br><br>
                But this technological evolution also is the reason why more and more frameworks come out to the market these past few
                years. While browsers and frameworks are always catching up on each other, developers are the ones to suffer. To master
                one framework, one has to spend a lot of time practicing it. That’s why it’s hard for developers to keep up, especially
                for those who only pretend to fully understand Javascript basics, a.k.a. VanillaJS — the plain Jane of Javascript.<br><br>
                The thing I want to emphasize here is the <b>importance of understanding the fundamentals of Javascript first, before
                learning everything else.</b> And that is through their core, VanillaJS. <b>If one has a strong foundation of VanillaJS, it
                will then be easier to learn a new framework</b> because the thing you’ll just need to get familiar with is the new syntax.
                I know there are a lot of people who would argue that VanillaJS is harder to learn for beginners. It has the connotation
                that to use VanillaJS is to “hand code” or “code from scratch” every single thing you build. Plus, that it is not up to
                date with web browser technologies.<br><br>
                In response to those arguments, I think it is a lot harder to learn a framework, if one doesn’t know how it works, which
                is again, based on VanillaJS. Sure, a framework does magic to the code. But once it also magically starts to not work,
                what would one who doesn’t know the basics do? These bugs would be much more challenging to solve with only the
                knowledge of a particular framework.<br><br>
                And such argument is irrelevant now, because in the past few years, VanillaJS has been evolving, too. It has borrowed
                some conventions from jQuery, and has smoothed out browser compatibility issues that were terrible to deal with years
                ago.<br><br>
                In the words of <a href="https://www.freecodecamp.org/news/is-vanilla-javascript-worth-learning-absolutely-c2c67140ac34/https://www.freecodecamp.org/news/is-vanilla-javascript-worth-learning-absolutely-c2c67140ac34/">David Kopal from freecodecamp.org</a>,
                <i>“The best trade-off is that learning pure JavaScript will give you much more in the long run than investing time in a
                particular framework. Frameworks are just shortcuts.”</i><br><br>
                Trying to understand these concepts under the abstractions brought by the framework is much harder. This makes simple
                JavaScript concepts more difficult to understand. Basically, the external frameworks and libraries are just additional
                layers of abstraction to the core script.<br><br>
                In this matter, once you master one (VanillaJS), you can then be a jack of all trades (or frameworks) — only if you want
                to.
                </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <br>
        <p>© 2020 BIANCA MATIRA | ALL RIGHTS RESERVED.</p>
    </div>
</body>

</html>